<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>機樸科技</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a ></a>
				<nav id="nav">
						<a href="/about_mst/">關於機樸</a>
						<a href="/product/">產品</a>
						<a href="/service/">服務</a>
						<a href="/contact/">聯絡我們</a>
					</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<p><font face="微軟正黑體"><h1>機樸科技</h1></font></p>
					<font face="微軟正黑體"><p>機械是人類最好的樸人<br />
					 提高生產效率，共創人類文明進步</p></font>
					</header>
					</div>
				<video autoplay loop muted playsinline src="/static/images/banner.mp4"></video>
			</section>

		<!--  MST introduction-->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
						<header>
							<font  face="微軟正黑體"><h2><em><strong>我們相信機械是人類最好的樸人</strong></em></h2></font>
						</header>
						<font size="4" face="微軟正黑體"><br>將來機械不僅僅是工具，人類也不再是純粹使用機械，而是相互協同合作，創造人類文明進步，提高生產效率，使生活更加便利更加有尊嚴。</br>
						<br>秉持這個理念
						<br>機樸科技的所有夥伴們以”誠信、服務、創新”的工作守則，為生產製造提供量身訂做的系統整合服務。
						<br>我們重視溝通，以符合客戶實際狀況與需求為原則，進行客製化的設計。也希望客戶能夠相信我們，一起共創未來。</br></font>

					</div>
				</div>
			</section>



		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>機樸理念</h3>
							<p>人機協作，創造文明新進步。機樸以誠信、服務、創新為工作守則，為每個客戶做出最適合的服務。</p>
						</section>
						<section>
							<h4>網站地圖</h4>
							<ul class="alt">
								<li><a href="/about_mst/">關於機樸</a></li>
								<li><a href="/product/">產品</a></li>
								<li><a href="/service/">服務</a></li>
								<li><a href="/contact/">聯絡我們</a></li>
							</ul>
						</section>
						<section>
							<h4>社群媒體</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Machine Servant Technology lnc. All Rights Reserved.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>