<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>聯絡我們</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a ></a>
				<nav id="nav">
						<a href="/about_mst/">關於機樸</a>
						<a href="/product/">產品</a>
						<a href="/service/">服務</a>
						<a href="/contact/">聯絡我們</a>
					</nav>
			</header>

		<!-- Heading -->
			<div id="heading" >
				<h1>聯絡我們</h1>
			</div>

		<!-- Two -->
			<section id="two" class="wrapper style2 special">
				<div class="inner narrow">
					<header>
						<h2>若您有任何問題，歡迎您填寫以下表單與我們聯絡，我們會儘速為您回覆。</h2>
					</header>
					<form class="grid-form" method="post" action="#">
						<div class="form-control narrow">
							<label for="name">Name</label>
							<input name="a" id="a" type="text">
						</div>
						<div class="form-control narrow">
							<label for="email">Email</label>
							<input name="b" id="b" type="email">
						</div>
						<div class="form-control">
							<label for="message">Message</label>
							<textarea name="c" id="c" rows="4"></textarea>
						</div>
						<ul class="actions">
							<li1><input value="Send Message" type="submit"></li1>
						</ul>
					</form>
					<header>
						<h2>或聯絡</h2>
					</header>
					<font size="5" face="微軟正黑體">
						<p align="left">職稱:專案經理</p>
						<p  align="left">姓名:顏維廷</p>
						<p  align="left">電話:0953-873917</p>
					</font>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>機樸理念</h3>
							<p>人機協作，創造文明新進步。機樸以誠信、服務、創新為工作守則，為每個客戶做出最適合的服務。</p>
						</section>
						<section>
							<h4>網站地圖</h4>
							<ul class="alt">
								<li><a href="/about_mst/">關於機樸</a></li>
								<li><a href="/product/">產品</a></li>
								<li><a href="/service/">服務</a></li>
								<li><a href="/contact/">聯絡我們</a></li>
							</ul>
						</section>
						<section>
							<h4>社群媒體</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Machine Servant Technology lnc. All Rights Reserved.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>
			<script>
				var a = $("#a").val();
				var b = $("#b").val();
				var c = $("#c").val();
			</script>

	</body>
</html>