<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>五大產品</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a ></a>
				<nav id="nav">
						<a href="/about_mst/">關於機樸</a>
						<a href="/product/">產品</a>
						<a href="/service/">服務</a>
						<a href="/contact/">聯絡我們</a>
					</nav>
			</header>

		<!-- Heading -->
			<div id="heading" >
				<h1>五大產品</h1>
			</div>

		<!-- Highlights -->
		<section id="one" class="wrapper special">
			<div class="inner">
					<header class="special">
						<h2>模組化的設計，方便不同的情境導入適當的需求</h2>
						<p></p>
					</header>
				</div>
				<div class="inner">
					<div class="features">
						<div class="feature">
							<i class="fa fa-industry"></i>
							<h3>彈性製造</h3>
							<p>收集大量製造數據，進行多樣化生產</p>
						</div>
						<div class="feature">
							<i class="fa fa-copy"></i>
							<h3>製程優化</h3>
							<p>藉由機台間資料互相溝通，來達到製程優化</p>
						</div>
						<div class="feature">
							<i class="fa fa-paper-plane-o"></i>
							<h3>自動參數調整</h3>
							<p>分析機台製造資料，自動調整製造參數最佳化</p>
						</div>
						<div class="feature">
							<i class="fa fa-image"></i>
							<h3>資料可視化</h3>
							<p>機台資料圖形化顯示</p>
						</div>
						<div class="feature">
							<i class="fa fa-mobile"></i>
							<h3>遠端監控</h3>
							<p>將機台現況即時傳送到遠端進行監控</p>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>機樸理念</h3>
							<p>人機協作，創造文明新進步。機樸以誠信、服務、創新為工作守則，為每個客戶做出最適合的服務。</p>
						</section>
						<section>
							<h4>網站地圖</h4>
							<ul class="alt">
								<li><a href="/about_mst/">關於機樸</a></li>
								<li><a href="/product/">產品</a></li>
								<li><a href="/service/">服務</a></li>
								<li><a href="/contact/">聯絡我們</a></li>
							</ul>
						</section>
						<section>
							<h4>社群媒體</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Machine Servant Technology lnc. All Rights Reserved.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>